.guide__body {
  font-family: "Exo 2", sans-serif;
  background-image: url(img/background__guide.png);
  .guide__Icon {
    display: block;
    margin: auto;
    margin-top: 90px;
  }
  .guide__title {
    padding-top: 25px;
    padding-left: 10px;
  }
  .guide__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 23px;
  }
}
.hidden {
  display: none;
}
.input__guide {
  display: block;
  margin: auto;
  margin-top: 70px;
}
