.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #12a0d6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.return__btns {
  display: flex;
  .return__btn {
    border-radius: 11px;
    border: none;
    background-color: #12a0d6;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .return__Nobtn {
    border-radius: 11px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
  }
}

.return__returnering {
  display: flex;
  justify-content: space-between;
}

.return__parent {
  position: relative;
  top: 0;
  left: 0;
  .return__package {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    margin-top: 40px;
  }

  .return__scanner {
    position: absolute;
    top: 140px;
    left: 84px;
  }
}

.return__info {
  position: absolute;
  bottom: 0px;
  right: 11px;
  text-align: center;
  color: white;
  font-size: 22px;
}
.return__background {
  width: 274px;
  height: 140px;
  margin-left: 93px;
}
