.home__body {
  .home__menu {
    width: 30px;
  }
  .home__header {
    display: flex;
    justify-content: space-between;
  }

  .logout {
    width: 29px;
    height: 28px;
    margin-top: 10px;
  }
  .home__title {
    font-family: "Exo 2", sans-serif;
    text-align: center;
  }
  .home__mascot {
    display: block;
    margin: auto;
  }

  .home__text {
    font-size: 25px;
    margin-left: 30px;
    font-family: "Exo 2", sans-serif;
  }

  .home__package {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 310px;
  }
  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #12a0d6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  .home__icon {
    margin-top: 20px;
    margin-left: 18px;
  }
  .home__iconGuide {
    margin-left: 25px;
  }
  .home__iconReturn {
    margin-top: 20px;
    margin-left: 13px;
  }
  .home__iconHistoric {
    margin-top: 20px;
    margin-left: 10px;
  }
}
